<header class="header">
  <div class='overlay'>
    <div class='logo'>
      <h1>Kieskompas revisited</h1>
    </div>
  </div>
</header>
<main class="main-content">
  <!--Menu filters-->
  <app-menu [categories]="categories" (categoryChanged)="clicked($event)"></app-menu>

  <!--List parties-->
  <app-party-list [parties]="parties" [sidebarVisible]="sidebarVisible"></app-party-list>

  <!--Sidebar navigation-->
  <app-sidebar (searchParty)="handleSearch($event)" (sidebarToggled)="handleSidebarToggle()" [sidebarVisible]="sidebarVisible"></app-sidebar>
</main>
